/* Reset og border-box á allt */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Leturgerðir */

@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora/Lora-VariableFont_wght.ttf') format('woof');
}
@font-face {
  font-family: 'Noto Sans Display';
  src: url('./fonts/Noto_Sans_Display/NotoSansDisplay-VariableFont_wdth\,wght.ttf') format('woof');
}

/** Hér skal skilgreina leturgerðir **/

/* Stillingar */

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --font-base-body-px: 16px;
  --spacing: 1rem;

  /* Hámarksbreidd á efni */
  --max-width: 900px;

  /* Border breiddir */
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;

  /* Litir */
  --color-gold: #ffe7ae;
  --color-gold-light: #fff1cf;
  --color-dark: #2f0505;
  --color-light: #fff9ee;

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: 'Noto Sans Display', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Lora', Georgia, serif;
}

/* Almennt */

/** Skilgreininar sem gilda fyrir allt efni og nota type selectora **/

html,
input,
select,
button {
  font-size: var(--font-base-size);
  font-family: var(--font-family-base);
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
}

a {
  color: inherit;
  background-color: inherit;
}

img {
  max-width: 100%;
}

/** Hjálpar class sem felur sjónrænt en skjálesarar lesa **/
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Layout */

.wrapper {
  /** Þessi selector er utanum allt og ætti að stýra plássi á milli efnis **/
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

/** Haus **/

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
  width: 100%;
  gap: var(--spacing);
  border-bottom: var(--border-large) solid var(--color-gold) ;
}

.header header {
  color: var(--color-gold-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
}

/** Valmynd **/

.navigation {
  display: flex;
  background-color: var(--color-light);
  width: 100%;
  justify-content: center;
  padding: var(--spacing);
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: var(--spacing)
}

/** Meginmál **/
.main {
  display: flex;
  flex-direction: column;
}

.main section h2{
  padding-left: var(--spacing);
  padding-bottom: var(--spacing);
}
.main section p{
  padding-bottom: var(--spacing);
}
/** Fótur **/

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--color-dark);
  color: var(--color-gold-light);
  border-top: var(--border-large) solid var(--color-gold);
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing);
}
.footer dl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer h2{
  display: flex;
  justify-content: center;
  margin-top: var(--spacing);
}
/* Box! */

.boxes {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  gap: var(--spacing);
  padding-bottom: calc(2*var(--spacing));
}

.boxes .box {
  display: flex;
  flex-direction: column;
  width:calc(50% - var(--spacing)*0.5);
  background-color: var(--color-gold-light);
  padding: calc(0.5*var(--spacing));
}

/** Og fleiri selectorar... **/

.boxes .box .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.boxes .box .content p{
  padding-top: var(--spacing);
  flex: 0.9;
}

.boxes .box h3{
  border-bottom: var(--border-small) solid var(--color-dark);
}

.boxes .box a{
  font-weight: bold;
  padding-top: var(--spacing);
}

.popular h2{
  padding: var(--spacing);
}

.linkar{
  padding-left: var(--spacing);
}

.content img{
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  object-position:75% 25% ;
  justify-content: space-between;
  height: 100%;
  max-height: 450px;
}
.boxes .box .content .description{
  padding-bottom: 0;
  padding-top: 0;
}
/* Opnunartími */
dt {
  font-family: var(--font-family-heading);
  margin-top: var(--spacing);
  font-weight: bold;
}

dd {
  margin-bottom: var(--spacing);
}


body .main .popular .populardish{
  padding-bottom: 0;
  padding-top: calc(2*var(--spacing));
}
body .main .popular .price {
  padding-top:0;
}

.saga p{
  padding-bottom: var(--spacing);
  padding-left: var(--spacing);
}


/**
Hér eru skilgreiningar sem endurnýta má úr v3, með takmörkunum.
**/

/* Matseðill */

.main table tbody tr:nth-child(2n + 1) {
  background-color: var(--color-gold);
}
.main table{
  border-spacing: 0;
  padding: var(--spacing);
}
.main table tbody tr td{
  padding: calc(0.50*var(--spacing));
}
.main table th {
  padding: calc(0.5*var(--spacing));
}
/**
Hér eru skilgreiningar sem endurnýta má úr v3, með takmörkunum.
**/

/* Pöntunarform */
fieldset {
  margin-bottom: var(--spacing);
}
.boxes .box div{
  display: flex;
  flex-direction: column;
}




#when,
#size,
#special,
#food1, 
#food2, 
#food3, 
#food4, 
#food5,
#address,
#name,
#email,
#phone{
  max-width: fit-content;
}

.box button{
  padding: calc(0.5*var(--spacing));
}

fieldset legend {
  font-weight: bold;
}

fieldset div {
  margin-bottom: var(--spacing);
}


fieldset input,
fieldset select,
fieldset textarea {
  padding: calc(0.5*var(--spacing));
}

fieldset input[type='checkbox'] {
  display: inline-block;
  margin-right: 0.5rem;
}

form button {
  padding: 0.25rem;
  border-radius: 6px;
}
/**
Hér eru skilgreiningar sem endurnýta má úr v3, með takmörkunum.
**/