/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.box{
  border: 2px;
  border: #ffe7ae;
  padding-bottom: 2rem;
  display: flex;
}
.box-elements{
  margin: 1rem;
  padding: 1rem;
}
.header{
  background-color: #2f0505;
  padding: 1rem;
  text-align: center;
  border-bottom: 8px;
  margin-bottom: 8px;
}
.header-content{
  padding: 1rem;
}
